@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,400;0,700;1,300&display=swap');

$dark: #262626;
$light: #DDD;
$dark-blue: #2C37BF;
$light-blue: #596CD9;
$yellow: #F2C063;
$noBorder: border

* {
  margin: 0;
  font-family: "Urbanist";
  color: $dark;
  
}

body{
  background-image: url("images/chinesePaper.png");
  background-position: center;
  background-size: 1000px;
  backdrop-filter: blur(15px) contrast(80%) brightness(120%);
  height: 100vh;
  margin: 0px;
}

.navbar {
  padding: 30px;
  display: flex;
  align-items: center;
  max-width: 1200px;
  //cant get margin to be more than zero without the body being displaced and ruining background effect
  margin: 0px auto;
  box-shadow: 10px 10px 5px $light;
  position: sticky;
  top: 0; 
}

.navbar h1 {
  font-size: 40px;
  text-align: center;
  /* color: #D8F2D9; */
  font-style: italic;
  font-weight: 400;
}

.links {
  margin-left: auto;
}

.navbar button {
  font-size: 25px;
  margin-left: 2px;
  text-decoration: none;
  padding: 6px;
  /* color: #D8F2D9; */
  
  /* border: 2px solid black; */
}

.navbar button:hover {
  text-shadow: 2px 2px 1px $yellow;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
} 

.home {
  padding: 50px 0;
  margin: 0 auto; 
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.home h1 {
  text-shadow: 2px 2px 1px $dark;
  font-size: 40px;
  color: $light-blue;
}

.contact {
  display: flex;
  flex-direction: column;
}

.mainImage {
  border: 1px solid $dark;
  width: 400px;
  height: 400px;
  align-self: center;
}

.description {
  text-align: justify;
}